@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.45rem;
  --background: oklch(99.13% 0.001 286.38);
  --foreground: oklch(23.89% 0.008 264.41);
  --card: oklch(99.13% 0.001 286.38);
  --card-foreground: oklch(23.89% 0.008 264.41);
  --popover: oklch(99.13% 0.001 286.38);
  --popover-foreground: oklch(23.89% 0.008 264.41);
  --primary: oklch(45.33% 0.149 255.29);
  --primary-foreground: oklch(100% 0 0);
  --secondary: oklch(92.62% 0.028 246.48);
  --secondary-foreground: oklch(45.33% 0.149 255.29);
  --muted: oklch(99.13% 0.001 286.38);
  --muted-foreground: oklch(59.56% 0.016 264.44);
  --accent: oklch(99.13% 0.001 286.38);
  --accent-foreground: oklch(45.33% 0.149 255.29);
  --destructive: oklch(51.49% 0.187 29.42);
  --border: oklch(75.84% 0.015 258.35);
  --input: oklch(75.84% 0.015 258.35);
  --ring: oklch(87.15% 0.012 259.82);
  --chart-1: oklch(50.48% 0.145 252.99);
  --chart-2: oklch(59.7% 0.148 154.46);
  --chart-3: oklch(50.48% 0.145 227.392);
  --chart-4: oklch(59.7% 0.148 84.429);
  --chart-5: oklch(50.48% 0.145 70.08);
  --sidebar: oklch(96.65% 0.005 258.32);
  --sidebar-foreground: oklch(23.89% 0.008 264.41);
  --sidebar-primary: oklch(45.33% 0.149 255.29);
  --sidebar-primary-foreground: oklch(96.65% 0.005 258.32);
  --sidebar-accent: oklch(99.13% 0.001 286.38);
  --sidebar-accent-foreground: oklch(45.33% 0.149 255.29);
  --sidebar-border: oklch(75.84% 0.015 258.35);
  --sidebar-ring: oklch(21.627% 0.0332 258.302);
}

.dark {
  --background: oklch(23.89% 0.008 264.41);
  --foreground: oklch(96.65% 0.005 258.32);
  --card: oklch(28.85% 0.012 264.37);
  --card-foreground: oklch(96.65% 0.005 258.32);
  --popover: oklch(28.85% 0.012 264.37);
  --popover-foreground: oklch(96.65% 0.005 258.32);
  --primary: oklch(38.23% 0.119 254.62);
  --primary-foreground: oklch(100% 0 0);
  --secondary: oklch(92.62% 0.028 246.48);
  --secondary-foreground: oklch(45.33% 0.149 255.29);
  --muted: oklch(59.56% 0.016 264.44);
  --muted-foreground: oklch(87.15% 0.012 259.82);
  --accent: oklch(59.56% 0.016 264.44);
  --accent-foreground: oklch(96.65% 0.005 258.32);
  --destructive: oklch(71.38% 0.139 25.39);
  --border: oklch(59.56% 0.016 264.44 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(59.56% 0.016 264.44);
  --chart-1: oklch(69.18% 0.134 249.25);
  --chart-2: oklch(66.79% 0.133 159.53);
  --chart-3: oklch(69.18% 0.134 70.08);
  --chart-4: oklch(66.79% 0.133 303.9);
  --chart-5: oklch(69.18% 0.134 16.439);
  --sidebar: oklch(28.85% 0.012 264.37);
  --sidebar-foreground: oklch(96.65% 0.005 258.32);
  --sidebar-primary: oklch(69.18% 0.134 249.25);
  --sidebar-primary-foreground: oklch(96.65% 0.005 258.32);
  --sidebar-accent: oklch(59.56% 0.016 264.44);
  --sidebar-accent-foreground: oklch(96.65% 0.005 258.32);
  --sidebar-border: oklch(59.56% 0.016 264.44 / 10%);
  --sidebar-ring: oklch(59.56% 0.016 264.44);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    font-size: 16px;
  }
  body {
    @apply bg-background text-foreground;
  }

  @font-face {
    font-family: "Nunito Sans";
    src: url("/fonts/NunitoSans-VariableFont.ttf") format("truetype");
    font-weight: 100 1000;
    font-stretch: 75% 125%;
    font-style: normal;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-VariableFont.ttf") format("truetype");
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: normal;
  }
}

@layer components {
  .typography-h1,
  .typography-h2,
  .typography-h3,
  .typography-h4,
  .typography-h5 {
    font-family: "Nunito Sans", sans-serif;
  }

  .typography-lg,
  .typography-md-24,
  .typography-md-20,
  .typography-sm-20,
  .typography-sm-16,
  .typography-xs,
  .typography-xxs {
    font-family: "Inter", sans-serif;
  }

  .typography-h1 {
    font-size: 2rem;
    letter-spacing: -0.02em;
    line-height: 2.5rem;
  }

  .typography-h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  .typography-h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .typography-h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .typography-h5 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .typography-lg {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .typography-md-24 {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .typography-md-20 {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .typography-sm-20 {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .typography-sm-16 {
    font-size: 0.875rem;
    line-height: 1rem;
  }

  .typography-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .typography-xxs {
    font-size: 0.625rem;
    line-height: 0.75rem;
  }

  @media (min-width: 768px) {
    .typography-h1 {
      font-size: 2.25rem;
      letter-spacing: -0.02em;
      line-height: 2.75rem;
    }

    .typography-h2 {
      font-size: 2rem;
      letter-spacing: -0.02em;
      line-height: 2.5rem;
    }

    .typography-h3 {
      font-size: 1.75rem;
      line-height: 2.25rem;
    }

    .typography-h4 {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    .typography-h5 {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }

    .typography-lg {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }

    .typography-md-24 {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }

    .typography-md-20 {
      font-size: 1.125rem;
      line-height: 1.25rem;
    }

    .typography-sm-20 {
      font-size: 1rem;
      line-height: 1.25rem;
    }

    .typography-sm-16 {
      font-size: 1rem;
      line-height: 1rem;
    }

    .typography-xs {
      font-size: 0.875rem;
      line-height: 1rem;
    }

    .typography-xxs {
      font-size: 0.75rem;
      line-height: 0.75rem;
    }
  }
}
